################################################################################
# rtlang-fa.ir

https://erlang-fa.ir {
	tls {$CADDY_ERLANG_CERT_FULLCHAIN} {$CADDY_ERLANG_PRIVKEY}                  
	root {$CADDY_ERLANG_DEST_DIR}/en
	log / stdout
	log / "{$CADDY_ERLANG_LOG}" "{proto} {remote} {method} {path} {>User-Agent}" {
		rotate_size     10
		rotate_age      7
		rotate_keep     5
		rotate_compress
	}
}

http://erlang-fa.ir {
  redir https://erlang-fa.ir{uri}
}

