{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

  {{ if .Params.date }}
    <div id=sub-header>
      {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} ⦁ همش {{ .ReadingTime }} دیقه خوندنش وقت میگیره
    </div>
  {{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>

  <div style="text-align: left;" id=links>
    {{ if .PrevInSection }}
      <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
    {{ end }}
  </div>
</section>
{{ if .Params.twitter  }}
  <p style="text-align:center">اگر پیشنهاد یا انتقادی دارید از <a href="{{ .Params.twitter }}">این لینک</a> در توییتر استفاده کنید</p>
{{ end }}

{{ if .Site.Params.comments  }}

  <div id="disqus_thread"></div>
  <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ .Permalink }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://erlang-fa-ir.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }} 
{{ partial "footer.html" . }}


